/*Mobile-Responsiv*/
@media screen and (max-width: 992px) {
    body {
        background-color: beige;
    }

    /*Warapper Classe */

    .img_formation{
        height: 100px;
        margin: auto;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "Für den Sommer!";
    }

}

/*Desktop-Responsiv*/
@media screen and (min-width: 993px) {
    body {
        background-color: burlywood;
    }

    .img_formation{
        height: 250px;
        margin: 4em;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "Vertraut und immernoch DASS für den kommenden Sommer !";
    }

    .information{
        margin-left: 5em;
    }


}

/*Beschreibung der Standart Seiten*/
.information{
    display: flex;
}

.information div:only-child {
    margin-top: 2em;
    background-color: aliceblue;
    border: solid black;
}

/*Für die Informationstexte der Produkte auf der Startseite*/
.info_text{
    text-align: center;
}