/*Root Elemente*/

/*LinkControll*/
a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration: none;
}

/*Impressum Positionieren*/
footer{
    position: absolute;
    left: 50%;
    top: 90%;
    font-size: 12px;
}

body{
    background-image: url("../bilder/bierGB2.png"); 
    background-repeat: initial;
    background-size: cover;
}




/*Mobile-Responsiv*/
@media screen and (max-width: 992px) {

    /*Warapper Classe */

    .img_formation{
        height: 100px;
        margin: auto;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "Der Sommer!";
    }
    #inf_02_lbl::after{
        content: "Der Canadier";
    }
    #inf_03_lbl::after{
        content: "Der Vikinger";
    }
    #inf_04_lbl::after{
        content: "Sei Irish";
    }
    #inf_05_lbl::after{
        content: "Die Natur";
    }
    #inf_06_lbl::after{
        content: "DIe Urquelle";
    }


        /*NavigationsBar Text Init*/
    #lblStartseite{
        visibility: hidden;
    }
    #lblEvents{
        visibility: hidden;
    }

    #lblProdukte{
        visibility: hidden;
    }

    #lblAngebote{
        visibility: hidden;
    }

    #lblWarenkorb{
        visibility: hidden;
    }

    #lblKontackt{
        visibility: hidden;
    }

    /*Hier iwie was machen dass nach den anmelden bereits angebeldet ist und hier
    abmelden steht
    */
    #lblAnmelden{
        visibility: hidden;
    }

    #lblRegestrieren{
        visibility: hidden;
    }
}













/*Desktop-Responsiv*/
@media screen and (min-width: 993px) {
    .img_formation{
        height: 250px;
        margin: 4em;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "DASS für den kommenden Sommer !";
    }
    #inf_02_lbl::after{
        content: "Der Canadier in dir.";
    }
    #inf_03_lbl::after{
        content: "Der Vikinger an deiner Seite.";
    }
    #inf_04_lbl::after{
        content: "Sei Irish, wie es andere sind!";
    }
    #inf_05_lbl::after{
        content: "Die Natur genießen.";
    }
    #inf_06_lbl::after{
        content: "Erlebe die Urquelle Hautnah";
    }

    .information{
        margin-left: 5em;
    }

    .eingabeDerProdukteSyle{
        margin-left: 20px;
        width: 330px;
        margin-bottom: 3px;
    }

    #navBar div:hover{
        background-color: rgba(32, 98, 184, 0.931);
        border-radius: 10px;
    }  
}
















/*
***************************************************************************************
***************************************************************************************
*/

/*Beschreibung der Standart Seiten*/
.information{
    display: flex;
    flex-wrap: wrap;
}

.information div {
    margin-top: 2em;
    background-color: rgba(9, 154, 212, 0.719);
    border: solid rgb(9, 155, 212);
    border-radius: 20px;
    align-items: flex-start;
    margin-inline: 10px;    
}

/*Für die Informationstexte der Produkte auf der Startseite*/
.info_text{
    text-align: center;
}

.img_formation{
    border-radius: 20px;
}

.inf_text{
    text-align: center;
}

/*Neue Navbar, mit HoverEffeckt und 3D simulation, der versuch*/
#navBar{
    display: flex;
    background-color: rgba(32, 98, 184, 0.712);
    border-radius: 10px;
    margin-inline: auto;
}

#navBar div{
    margin-inline: auto;
    width: 100px;
    text-align: center;
}

 

