











/*Mobile-Responsiv*/
@media screen and (max-width: 992px) {
    body {
        background-color: rgb(170, 170, 130);
    }

    /*Warapper Classe */

    .img_formation{
        height: 100px;
        margin: auto;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "Der Sommer!";
    }
    #inf_02_lbl::after{
        content: "Der Canadier";
    }
    #inf_03_lbl::after{
        content: "Der Vikinger";
    }
    #inf_04_lbl::after{
        content: "Sei Irish";
    }
    #inf_05_lbl::after{
        content: "Die Natur";
    }
    #inf_06_lbl::after{
        content: "DIe Urquelle";
    }



}













/*Desktop-Responsiv*/
@media screen and (min-width: 993px) {
    body {
        background-color: burlywood;
    }

    .img_formation{
        height: 250px;
        margin: 4em;
    }

    /*Text ändern*/
    #inf_01_lbl::after{
        content: "DASS für den kommenden Sommer !";
    }
    #inf_02_lbl::after{
        content: "Der Canadier in dir.";
    }
    #inf_03_lbl::after{
        content: "Der Vikinger an deiner Seite.";
    }
    #inf_04_lbl::after{
        content: "Sei Irish, wie es andere sind!";
    }
    #inf_05_lbl::after{
        content: "Die Natur genießen.";
    }
    #inf_06_lbl::after{
        content: "Erlebe die Urquelle Hautnah";
    }

    .information{
        margin-left: 5em;
    }

    .eingabeDerProdukteSyle{
        margin-left: 20px;
        width: 330px;
        margin-bottom: 3px;
    }

    /*NavigationsBar Text Init*/
    #lblStartseite::after{
        content: "Start";
        margin-left: 10px;
    }

    #lblEvents::after{
        content: "Events";
        margin-left: 10px;
    }

    #lblProdukte::after{
        content: "Produkte";
        margin-left: 10px;
    }

    #lblAngebote::after{
        content: "Angebote";
        margin-left: 10px;
    }

    #lblWarenkorb::after{
        content: "Warenkorb";
        margin-left: 10px;
    }

    #lblKontackt::after{
        content: "Kontackt";
        margin-left: 10px;
    }

    /*Hier iwie was machen dass nach den anmelden bereits angebeldet ist und hier
    abmelden steht
    */
    #lblAnmelden::after{
        content: "Anmelden";
        margin-left: 10px;
    }

    #lblRegestrieren::after{
        content: "Regestrieren";
        margin-left: 10px;
    }


}
















/*
***************************************************************************************
***************************************************************************************
*/

/*Beschreibung der Standart Seiten*/
.information{
    display: flex;
    flex-wrap: wrap;
}

.information div {
    margin-top: 2em;
    background-color: rgba(9, 154, 212, 0.719);
    border: solid rgb(9, 155, 212);
    border-radius: 20px;
    align-items: flex-start;
    margin-inline: 10px;    
}

/*Für die Informationstexte der Produkte auf der Startseite*/
.info_text{
    text-align: center;
}

.img_formation{
    border-radius: 20px;
}

.inf_text{
    text-align: center;
}

/*Neue Navbar, mit HoverEffeckt und 3D simulation, der versuch*/
#navBar{
    display: flex;
    background-color: rgba(32, 98, 184, 0.712);
    border-radius: 10px;
    margin-inline: auto;

}

#navBar div{
    margin-inline: auto;
}

#navBar div:hover{
    background-color: rgba(32, 98, 184, 0.931);
    border-radius: 10px;
}   

